*{
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a:hover{
    text-decoration: none;
    cursor: pointer;
}
a{
    background-color: rgba(0, 0, 0, 0);
    text-decoration: none;
    color: #757575;
}
img{
    border: 0;
}
body{
    font: 14px/1.5 Helvetica Neue,Helvetica,Arial,Microsoft Yahei,Hiragino Sans GB,Heiti SC,WenQuanYi Micro Hei,sans-serif;
    min-width: 1226px;
}
.container{
    width: 1226px;
    margin-right: auto;
    margin-left: auto;
}
.container::after{
    clear: both;
}
.container::after,.container::before{
    content: " ";
    display: table;
}
.site-header {
    font-size: 12px;
    border-bottom: 2px solid #ff6700;
    background: #fff;
    color: #b0b0b0;
    position: relative;
    z-index: 20;
    height: 100px;
}
.site-header, .site-header .container {
    position: relative;
}
.site-header .header-logo {
    float: left;
    width: 62px;
    margin-top: 22px;
}
.site-header .logo {
    position: relative;
    display: block;
    width: 55px;
    height: 55px;
    overflow: hidden;
    background-color: #ff6700;
}
.ir {
    display: block;
    text-align: left;
    text-indent: -9999em;
    overflow: hidden;
}
.site-header .logo:before {
    background: url(../images/mi-logo.png) no-repeat 50% 50%;
    opacity: 1;
}
.site-header .logo:after {
    background: url(../images/mi-home.png) no-repeat 50% 50%;
    opacity: 0.5;
    margin-left: -55px;
}
.site-header .logo:after, .site-header .logo:before {
   
    transform: translateZ(0);
}
.site-header .logo:after, .site-header .logo:before {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    width: 55px;
    height: 55px;
    content: "";
    transform-origin: 50% 50%;
    transition: all .2s;
}
.logo:hover:before{
    opacity: 0;
    margin-left: 55px;
}
.logo:hover:after{
    margin-left: 0px;
    opacity: 1;
}
.header-title{
    height: 48px;
    margin-top: 26px;
    float: left;
}
.header-title h2 {
    float: left;
    line-height: 48px;
    margin-bottom: 0;
    font-size: 28px;
    font-weight: 400;
    color: #424242;
}
.header-title p{
    float: left;
    height: 20px;
    line-height: 20px;
    margin-top: 20px;
    margin-left: 15px;
    color: #757575;
}
.topbar-info{
    position: relative;
    float: right;
    height: 40px;
    line-height: 40px;
    margin-top: 30px;
}
.user{
    position: relative;
    width: 110px;
    padding: 0;
    white-space: nowrap;
    float: left;
}
.user .name{
    display: inline-block;
    width: auto;
    max-width: 75px;
    text-overflow: ellipsis;
    vertical-align: text-bottom;
    overflow: hidden;
    text-align: center;
}
.user .user-menu-wrapper {
    position: absolute;
    left: 0;
    top: 40px;
    z-index: 3;
    height: 0;
    overflow: hidden;
    transition: height .3s;
    background: #fff;
    box-shadow: 0 2px 10px rgba(0,0,0,.15);
}
.name:hover{
    color: #ff6700;
}
.user:hover .user-menu-wrapper{
    height: 164px;
}
.user-menu-wrapper li{
    padding: 3px 30px;
    line-height: 2;
}
.user-menu-wrapper li:hover{
    color: #ff6700;
    cursor: pointer;
}
.topbar-info .link-order{
    width: 70px;
    padding: 0 5px;
    text-align: center;
}
.link-order:hover{
    color: #ff6700;
}

/* 主体 */
.page-main{
    padding: 38px 0;
    background: #f5f5f5;
}
.cart-container{
    width: 1116px;
    margin: 0 auto;
}
.cart-goods-list{
    background-color: #fff;
}
.list-header{
    height: 70px;
    line-height: 70px;
    padding-right: 26px;
    color: #424242;
}
.list-header div{
    float: left;
}
.goods-img{
    width: 120px;
    height: 70px;
}
.goods-name{
    width: 380px;
}
.goods-price{
    width: 140px;
    padding-right: 18px;
    text-align: center;
}
.goods-num{
    width: 150px;}
.goods-total{
    width: 200px;
}
.goods-action{
    width: 80px;
}
.goods-num,.goods-total,.goods-action{
    text-align: center;
}
.item-box{
    padding: 15px 26px 15px 0;
    border-top: 1px solid #e0e0e0;
}
.item-table{
    display: table;
    border-collapse: collapse;
    border-spacing: 0;
}
.item-table div{
    display: table-cell;
    vertical-align: middle;
}
.item-box .goods-img{
    width: 80px;
    height: 80px;
    padding-right: 40px;
    overflow: hidden;
}
.goods-name>h3{
    line-height: 1;
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: 400;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.item-box .goods-price{
    width: 140px;
    padding-right: 18px;
    text-align: center;
    color: #424242;
}
.change-goods-num{
    width: 148px;
    height: 38px;
    border: 1px solid #e0e0e0;
    text-align: center;
    background-color: #fff;
    position: relative;
    zoom: 1;
}
.change-goods-num p{
    float: left;
    width: 38px;
    height: 38px;
    line-height: 38px;
    color: #757575;
    font-size: 20px;
    transition: all .3s;
}
.change-goods-num p:hover{
    background-color: #e0e0e0;
    cursor: pointer;
}
.change-goods-num span{
    float: left;
    width: 72px;
    height: 38px;
    line-height: 38px;
    padding: 0;
    border-width: 0;
    color: #424242;
    font-size: 16px;
    text-align: center;
}
.item-box .goods-total{
    width: 200px;
    text-align: center;
    color: #ff6700;
    font-size: 16px;
}
.item-box .goods-action{
    width: 80px;
    text-align: center;
}
.item-box .goods-action span{
    display: inline-block;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    border-radius: 12px;
    color: #757575;
    font-size: 16px;
    transition: all .3s;
}
.item-box .goods-action span:hover{
    color: #fff;
    background-color: #e53935;
    cursor: pointer;
}
.cart-bar{
    height: 50px;
    text-align: right;
    background-color: #fff;
    transition: background .3s ease,top .3s ease;
    position: relative;
}
.cart-bar .section-left{
    float: left;
}
.section-left a{
    line-height: 50px;
    margin-left: 32px
}
.section-left .cart-total{
    margin-left: 16px;
    padding-left: 16px;
    border-left: 1px solid #eee;
    color: #757575;
}
.section-left i{
    font-style: normal;
    color: #ff6700;
}
.total-price{
    width: 380px;
    padding-left: 13px;
    color: #ff6700;
    float: right;
    text-align: right;
}
.total-price em{
    font-style: normal;
    font-size: 30px;
}
.total-price div{
    display: inline-block;
    width: 200px;
    height: 48px;
    line-height: 48px;
    font-size: 18px;
    margin-left: 50px;
    vertical-align: top;
    text-align: center;
    cursor: pointer;
    background: #ff6700;
    border-color: #ff6700;
    color: #fff;
}